<table class="table mainTable" id="group-mainhand">
    <tbody>
        <tr>
            <td class="inventoryCell">
                <div class="inventoryCellInfo"><input id="inventoryCheckbox" type="checkbox"><label
                        for="inventoryCheckbox"> Show marked items only.</label></div>
            </td>
            <td class="th slotName">Weapon</td>
            <td class="th materiaName">Materia</td>
            <td class="th attributeName">Intelligence</td>
            <td class="th attributeName">Direct Hit Rate</td>
            <td class="th attributeName">Critical Hit</td>
            <td class="th attributeName">Determination</td>
            <td class="th attributeName">Spell Speed</td>
            <td class="th attributeName">Vitality</td>
            <td class="td location"></td>
        </tr>
        <tr>
            <td displaystate="inventory" class="inventoryCell selected">
                <div class="inventoryToggleButton"></div>
            </td>
            <td displaystate="title" class="th itemName selected"
                style="background-image: url(&quot;https://cdn.ariyala.com/ffxiv/images/items/nq/025000/025200/25232.png&quot;);">
                <div class="cellContent"><a target="_blank" class="floatLeft"
                        href="http://na.finalfantasyxiv.com/lodestone/playguide/db/item/e33b0fc7c00">Weathered
                        Aeneas</a><span class="itemLevel">iLvl 430</span></div>
            </td>
            <td class="td selected">
                <div class="socket" style="background-position: -2px -2px;"></div>
                <div class="socket" style="background-position: -2px -2px;"></div>
                <div class="socket" style="background-position: -2px -2px; background-image: none;"></div>
                <div class="socket" style="background-position: -2px -2px; background-image: none;"></div>
                <div class="socket" style="background-position: -2px -2px; background-image: none;"></div>
            </td>
            <td class="td selected">
                <div class="cellContent">437<span class="caps">437</span></div>
            </td>
            <td class="td selected">
                <div class="cellContent">&nbsp;<span class="caps">413</span></div>
            </td>
            <td class="td selected">
                <div class="cellContent">413<span class="caps">413</span></div>
            </td>
            <td class="td selected">
                <div class="cellContent">289<span class="caps">413</span></div>
            </td>
            <td class="td selected">
                <div class="cellContent">&nbsp;<span class="caps">413</span></div>
            </td>
            <td class="td selected">
                <div class="cellContent">413<span class="caps">413</span></div>
            </td>
            <td class="td location selected" displaystate="location">0x Gil</td>
        </tr>
        <tr>
            <td displaystate="inventory" class="inventoryCell">
                <div class="inventoryToggleButton"></div>
            </td>
            <td displaystate="title" class="th itemName"
                style="background-image: url(&quot;https://cdn.ariyala.com/ffxiv/images/items/nq/025000/025400/25402.png&quot;);">
                <div class="cellContent"><a target="_blank" class="floatLeft"
                        href="http://na.finalfantasyxiv.com/lodestone/playguide/db/item/8747f7ea78a">Ronkan
                        Hanger</a><span class="itemLevel">iLvl 440</span></div>
            </td>
            <td class="td">
                <div class="socket" style="background-position: -2px -2px;"></div>
                <div class="socket" style="background-position: -2px -2px;"></div>
                <div class="socket" style="background-position: -2px -2px; background-image: none;"></div>
                <div class="socket" style="background-position: -2px -2px; background-image: none;"></div>
                <div class="socket" style="background-position: -2px -2px; background-image: none;"></div>
            </td>
            <td class="td">
                <div class="cellContent">451<span class="caps">451</span></div>
            </td>
            <td class="td">
                <div class="cellContent">294<span class="caps">420</span></div>
            </td>
            <td class="td">
                <div class="cellContent">420<span class="caps">420</span></div>
            </td>
            <td class="td">
                <div class="cellContent">&nbsp;<span class="caps">420</span></div>
            </td>
            <td class="td">
                <div class="cellContent">&nbsp;<span class="caps">420</span></div>
            </td>
            <td class="td">
                <div class="cellContent">416<span class="caps">416</span></div>
            </td>
            <td class="td location" displaystate="location">500x Goetia</td>
        </tr>
        <tr>
            <td displaystate="inventory" class="inventoryCell">
                <div class="inventoryToggleButton"></div>
            </td>
            <td displaystate="title" class="th itemName"
                style="background-image: url(&quot;https://cdn.ariyala.com/ffxiv/images/items/hq/026000/026400/26442.png&quot;);">
                <div class="cellContent"><a target="_blank" class="floatLeft"
                        href="http://na.finalfantasyxiv.com/lodestone/playguide/db/item/6103ab670d8">Merveilleuse</a><img
                        src="https://cdn.ariyala.com/ffxiv/images/hq.png" class="hqIcon"><span class="itemLevel">iLvl
                        450</span></div>
            </td>
            <td class="td">
                <div class="socket" style="background-position: -2px -2px;"></div>
                <div class="socket" style="background-position: -2px -2px;"></div>
                <div class="socket" style="background-position: -2px -26px;"></div>
                <div class="socket" style="background-position: -2px -26px;"></div>
                <div class="socket" style="background-position: -2px -26px;"></div>
            </td>
            <td class="td">
                <div class="cellContent">476<span class="caps">476</span></div>
            </td>
            <td class="td">
                <div class="cellContent">434<span class="caps">434</span></div>
            </td>
            <td class="td">
                <div class="cellContent">&nbsp;<span class="caps">434</span></div>
            </td>
            <td class="td">
                <div class="cellContent">304<span class="caps">434</span></div>
            </td>
            <td class="td">
                <div class="cellContent">&nbsp;<span class="caps">434</span></div>
            </td>
            <td class="td">
                <div class="cellContent">445<span class="caps">445</span></div>
            </td>
            <td class="td location" displaystate="location">Goldsmith (★★)</td>
        </tr>
        <tr>
            <td displaystate="inventory" class="inventoryCell">
                <div class="inventoryToggleButton"></div>
            </td>
            <td displaystate="title" class="th itemName"
                style="background-image: url(&quot;https://cdn.ariyala.com/ffxiv/images/items/nq/027000/027600/27610.png&quot;);">
                <div class="cellContent"><a target="_blank" class="floatLeft"
                        href="http://na.finalfantasyxiv.com/lodestone/playguide/db/item/f0476558f0b">The King's
                        Rapier</a><span class="itemLevel">iLvl 450</span></div>
            </td>
            <td class="td">
                <div class="socket" style="background-position: -2px -2px;"></div>
                <div class="socket" style="background-position: -2px -2px;"></div>
                <div class="socket" style="background-position: -2px -2px; background-image: none;"></div>
                <div class="socket" style="background-position: -2px -2px; background-image: none;"></div>
                <div class="socket" style="background-position: -2px -2px; background-image: none;"></div>
            </td>
            <td class="td">
                <div class="cellContent">476<span class="caps">476</span></div>
            </td>
            <td class="td">
                <div class="cellContent">304<span class="caps">434</span></div>
            </td>
            <td class="td">
                <div class="cellContent">434<span class="caps">434</span></div>
            </td>
            <td class="td">
                <div class="cellContent">&nbsp;<span class="caps">434</span></div>
            </td>
            <td class="td">
                <div class="cellContent">&nbsp;<span class="caps">434</span></div>
            </td>
            <td class="td">
                <div class="cellContent">445<span class="caps">445</span></div>
            </td>
            <td class="td location" displaystate="location">Titania (Ex)</td>
        </tr>
        <tr>
            <td displaystate="inventory" class="inventoryCell">
                <div class="inventoryToggleButton"></div>
            </td>
            <td displaystate="title" class="th itemName"
                style="background-image: url(&quot;https://cdn.ariyala.com/ffxiv/images/items/hq/028000/028300/28395.png&quot;);">
                <div class="cellContent"><a target="_blank" class="floatLeft"
                        href="http://na.finalfantasyxiv.com/lodestone/playguide/db/item/72db65440a5">Augmented
                        Merveilleuse</a><img src="https://cdn.ariyala.com/ffxiv/images/hq.png" class="hqIcon"><span
                        class="itemLevel">iLvl 460</span></div>
            </td>
            <td class="td">
                <div class="socket" style="background-position: -2px -2px;"></div>
                <div class="socket" style="background-position: -2px -2px;"></div>
                <div class="socket" style="background-position: -2px -2px; background-image: none;"></div>
                <div class="socket" style="background-position: -2px -2px; background-image: none;"></div>
                <div class="socket" style="background-position: -2px -2px; background-image: none;"></div>
            </td>
            <td class="td">
                <div class="cellContent">502<span class="caps">502</span></div>
            </td>
            <td class="td">
                <div class="cellContent">448<span class="caps">448</span></div>
            </td>
            <td class="td">
                <div class="cellContent">&nbsp;<span class="caps">448</span></div>
            </td>
            <td class="td">
                <div class="cellContent">314<span class="caps">448</span></div>
            </td>
            <td class="td">
                <div class="cellContent">&nbsp;<span class="caps">448</span></div>
            </td>
            <td class="td">
                <div class="cellContent">476<span class="caps">476</span></div>
            </td>
            <td class="td location" displaystate="location">45x Eulmoran Certificate of Import</td>
        </tr>
        <tr>
            <td displaystate="inventory" class="inventoryCell">
                <div class="inventoryToggleButton"></div>
            </td>
            <td displaystate="title" class="th itemName"
                style="background-image: url(&quot;https://cdn.ariyala.com/ffxiv/images/items/nq/025000/025400/25482.png&quot;);">
                <div class="cellContent"><a target="_blank" class="floatLeft"
                        href="http://na.finalfantasyxiv.com/lodestone/playguide/db/item/3d8fc1c170e">Deepshadow
                        Tuck</a><span class="itemLevel">iLvl 460</span></div>
            </td>
            <td class="td">
                <div class="socket" style="background-position: -2px -2px;"></div>
                <div class="socket" style="background-position: -2px -2px;"></div>
                <div class="socket" style="background-position: -2px -2px; background-image: none;"></div>
                <div class="socket" style="background-position: -2px -2px; background-image: none;"></div>
                <div class="socket" style="background-position: -2px -2px; background-image: none;"></div>
            </td>
            <td class="td">
                <div class="cellContent">502<span class="caps">502</span></div>
            </td>
            <td class="td">
                <div class="cellContent">&nbsp;<span class="caps">448</span></div>
            </td>
            <td class="td">
                <div class="cellContent">314<span class="caps">448</span></div>
            </td>
            <td class="td">
                <div class="cellContent">448<span class="caps">448</span></div>
            </td>
            <td class="td">
                <div class="cellContent">&nbsp;<span class="caps">448</span></div>
            </td>
            <td class="td">
                <div class="cellContent">476<span class="caps">476</span></div>
            </td>
            <td class="td location" displaystate="location">10x Mowen's Token (Phantasmagoria)</td>
        </tr>
        <tr>
            <td displaystate="inventory" class="inventoryCell">
                <div class="inventoryToggleButton"></div>
            </td>
            <td displaystate="title" class="th itemName"
                style="background-image: url(&quot;https://cdn.ariyala.com/ffxiv/images/items/nq/028000/028200/28285.png&quot;);">
                <div class="cellContent"><a target="_blank" class="floatLeft"
                        href="http://na.finalfantasyxiv.com/lodestone/playguide/db/item/29bf9b69088">Agonia</a><span
                        class="itemLevel">iLvl 465</span></div>
            </td>
            <td class="td">
                <div class="socket" style="background-position: -2px -2px;"></div>
                <div class="socket" style="background-position: -2px -2px;"></div>
                <div class="socket" style="background-position: -2px -2px; background-image: none;"></div>
                <div class="socket" style="background-position: -2px -2px; background-image: none;"></div>
                <div class="socket" style="background-position: -2px -2px; background-image: none;"></div>
            </td>
            <td class="td">
                <div class="cellContent">516<span class="caps">516</span></div>
            </td>
            <td class="td">
                <div class="cellContent">319<span class="caps">455</span></div>
            </td>
            <td class="td">
                <div class="cellContent">455<span class="caps">455</span></div>
            </td>
            <td class="td">
                <div class="cellContent">&nbsp;<span class="caps">455</span></div>
            </td>
            <td class="td">
                <div class="cellContent">&nbsp;<span class="caps">455</span></div>
            </td>
            <td class="td">
                <div class="cellContent">493<span class="caps">493</span></div>
            </td>
            <td class="td location" displaystate="location">Hades's Elegy</td>
        </tr>
        <tr>
            <td displaystate="inventory" class="inventoryCell">
                <div class="inventoryToggleButton"></div>
            </td>
            <td displaystate="title" class="th itemName"
                style="background-image: url(&quot;https://cdn.ariyala.com/ffxiv/images/items/nq/025000/025500/25562.png&quot;);">
                <div class="cellContent"><a target="_blank" class="floatLeft"
                        href="http://na.finalfantasyxiv.com/lodestone/playguide/db/item/347104ce533">Augmented
                        Deepshadow Tuck</a><span class="itemLevel">iLvl 470</span></div>
            </td>
            <td class="td">
                <div class="socket" style="background-position: -2px -2px;"></div>
                <div class="socket" style="background-position: -2px -2px;"></div>
                <div class="socket" style="background-position: -2px -2px; background-image: none;"></div>
                <div class="socket" style="background-position: -2px -2px; background-image: none;"></div>
                <div class="socket" style="background-position: -2px -2px; background-image: none;"></div>
            </td>
            <td class="td">
                <div class="cellContent">530<span class="caps">530</span></div>
            </td>
            <td class="td">
                <div class="cellContent">&nbsp;<span class="caps">462</span></div>
            </td>
            <td class="td">
                <div class="cellContent">323<span class="caps">462</span></div>
            </td>
            <td class="td">
                <div class="cellContent">462<span class="caps">462</span></div>
            </td>
            <td class="td">
                <div class="cellContent">&nbsp;<span class="caps">462</span></div>
            </td>
            <td class="td">
                <div class="cellContent">510<span class="caps">510</span></div>
            </td>
            <td class="td location" displaystate="location">1x Deepshadow Solvent</td>
        </tr>
        <tr>
            <td displaystate="inventory" class="inventoryCell">
                <div class="inventoryToggleButton selected"></div>
            </td>
            <td displaystate="title" class="th itemName"
                style="background-image: url(&quot;https://cdn.ariyala.com/ffxiv/images/items/nq/026000/026900/26949.png&quot;);">
                <div class="cellContent"><a target="_blank" class="floatLeft"
                        href="http://na.finalfantasyxiv.com/lodestone/playguide/db/item/a67f3cdf053">Edengrace
                        Rapier</a><span class="itemLevel">iLvl 475</span></div>
            </td>
            <td class="td">
                <div class="socket" style="background-position: -194px -2px;"></div>
                <div class="socket" style="background-position: -194px -2px;"></div>
                <div class="socket" style="background-position: -2px -2px; background-image: none;"></div>
                <div class="socket" style="background-position: -2px -2px; background-image: none;"></div>
                <div class="socket" style="background-position: -2px -2px; background-image: none;"></div>
            </td>
            <td class="td">
                <div class="cellContent">544<span class="caps">544</span></div>
            </td>
            <td class="td">
                <div class="cellContent">467<span class="caps">467</span></div>
            </td>
            <td class="td">
                <div class="cellContent">447<span class="caps">467</span></div>
            </td>
            <td class="td">
                <div class="cellContent">&nbsp;<span class="caps">467</span></div>
            </td>
            <td class="td">
                <div class="cellContent">&nbsp;<span class="caps">467</span></div>
            </td>
            <td class="td">
                <div class="cellContent">526<span class="caps">526</span></div>
            </td>
            <td class="td location" displaystate="location">Eden - Sepulture (Savage)</td>
        </tr>
    </tbody>
</table>